body{
	background-color: rgba(255,215, 0, 0.5);
	overflow-x: hidden;
	
}
.container{
	max-width: 80%;
}
.row-header{
	margin:0px auto;
	padding:0px auto;
}
.row-content{
	margin:0px;
	padding:10px 0px 5px 0px;
	border-bottom:1px ridge;
	min-height: 400px;
}
.jumbotron{
	padding:70px 30px 20px 30px;
	margin:0px auto;
	background-image: linear-gradient(rgba(255,69, 0, 0.5),rgba(255,215,0,0.5));
	background-repeat: no-repeat;
	background-size:cover;
}
.navbar-dark{
	background-color:#000000;
}
.nav-link{
    padding-left: 20%;
}
.carousel{
	border-radius: 50px;
	
}
.carousel-item{
	height:300px;
	margin:auto;
}
.carousel-item img{
	position:absolute;
	top:0;
	left:0;
	min-height: 300px;
	border-radius: 50px;
}
.carousel-caption{
	position:absolute;
	left:30%;
	top:1%;
	font-size: large;
	color:black;
	font-size: 30px;
}
.footer{
	background:black;
	color:floralwhite;
	margin:0px auto;
	padding:20px 0px 0px 0px;
	top: 20%;
	z-index: 1000;
}
#academic-fee, #exam-fee{
	margin:auto;
	height: 250px;
}
.fee-content{
	font-size: 20px;
	font-weight: bold;
}
.fee-image img{
	position:absolute;
	top:0;
	left:0;
	height: 250px;
	max-width: 90%;
	min-width:90%;
}
.link{
	color:white;
}
.fee-content a button{
	background-color: #FEA303;
}
@media (max-width:767px){
	.carousel-item img{
		width: 100%;
		margin:auto;
	}
	#exam-fee{
		width:100%;
		align-self: center;
		margin-left:0px!important;
		margin-top:60px!important;

	}
	.fee-content{
		margin-top:-5px!important ;
		margin-left: -10%!important;
	}
	.fee-content a button{
		width:100%;
		
	
	}
}
@media (max-width:1023px){
	.fee-content{
		
		margin-left: -10%!important;
		font-size: 15px;
	}
	.fee-content a button{
		max-width: 160%;
		text-align: center;
	}
}


/***Feedback form styles***/
.feedback,.acadform{
	padding:170px 30px 170px 30px;
	margin:0px auto;
	max-width: 50%;
}
.card {
	box-shadow: 0 25px 45px 0 rgba(0,0,0,0.4);
	transition: 0.3s;
	border-radius: 10px; /* 5px rounded corners */
	margin-bottom:10%;
	z-index: 1000;
	background:rgba(0,0, 0, 0.2);
	border: 1px solid rgb(255,255,255,0.25);
	backdrop-filter: blur(25px);
	padding-top: 20px;
  }
  .feedback::before{
	  content:'';
	  position: absolute;
	  width: 400px;
	  height: 400px;
	  background: linear-gradient(#ffeb3b,#e91e63);
	  border-radius: 50%;
	  transform: translate(-140px,-40px);
  }
  .feedback::after{
	content:'';
	position: absolute;
	width: 400px;
	height: 400px;
	background: linear-gradient(#e91e63,#2196f3);
	border-radius: 50%;
	transform: translate(600px,-340px);
}
.feedmsg{
	font-family: 'Times New Roman', Times, serif;
	font-size:25px;
	margin-top: 50px!important;
	font-weight: bold;
}
.form-group{
	position:relative;
	color:#fff;
}
.form-cntrl input, .form-cntrl textarea{
	position:absolute;
	width:100%;
	background:transparent;
	border:none;
	outline:none;
	z-index:1;
	color:#000;
	border-radius:10px;
	margin-top: 5px !important;
}
.form-cntrl .text{
	position:absolute;
	left:20px;
	top:0;
	line-height:40px;
	font-size:18px;
	display:block;
	transform:0.5s;
	pointer-events: none;

}
.form-cntrl input:focus + .text, .form-cntrl input:valid + .text,.form-cntrl textarea:focus + .text, .form-cntrl textarea:valid + .text
{
	top:-35px;
	left:-10px;
}
textarea{
	height:44px;
}
.form-cntrl .line{
	position:absolute;
	bottom:-40px!important;
	display:block;
	width:100%;
	height:2px;
	background:#fff;
	transform:0.5s;
	border-radius:2px ;
	pointer-events: none;

}
.form-cntrl input:focus ~ .line, .form-cntrl input:valid~ .line{

	height: 35px!important;
}
.form-cntrl textarea:focus ~ .line, .form-cntrl textarea:valid ~ .line{

	height: 44px!important;
}
.btan{
	font-weight: 600;
	font-size: 18px;
	background-color: chocolate;
	width:fit-content;
}
@media(max-width:450){
	.feedback{
		max-width: 700px;
		max-height: 100vh!important;
		padding-bottom: 0!important;
	}
	.card{
		padding-right: -10px!important;
	}
}

@media (max-width:767px)
{
	.feedback{
		max-width: 700px;
	}
	.feedback::before{
		width: 200px;
		height: 200px;

	}
	.feedback::after{
		width: 200px;
		height: 200px;
		transform: translate(40%,-150px);
	}

}
@media(max-width:1024px)
{
	.feedback::before{
		width: 200px;
		height: 200px;

	}
	.feedback::after{
		width: 200px;
		height: 200px;
		transform: translate(80%,-150px);

	}
}


/*styles for exam form*/
.form-group label{
	color: #000;
}
.exam-form, .acadform{
	border:2px solid black;
	margin-top: 5%;
	margin-bottom: 5%;
	padding:2% 0;
	background-color:rgb(255,255,255,0.25);

}
.form-head{
	background-color: #000;
	color:floralwhite;
	margin:auto;
	font-size: larger;
	padding-left: 10%;

}